
# envConfig folder should have *one* configuration file per environment, holding environment specific settings.
# These settings can be referenced in other configuration files using Hocon substitution, e.g. ${evn.database}.

env {
  secretScope = my_sec # REPLACE ME
  catalog = main # REPLACE ME
  database = default
  basePath = "/Volumes/"${env.catalog}"/"${env.database}"/getting-started/"
  basePathWithId = ${env.basePath}"~{id}"
  tablePathWithId = null # managed tables need no path
}